@{
    Layout = null;
}

<html>
<head>
    <title>Death Note</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <style>
        body {
            background-color: #010101;
            text-align: center;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
    <img src="/images/deathnote.jpg" />
</body>
</html>
